@keyframes littleFadeInLeft {
  0% {
    opacity: 0;
    transform: translate3d(-20px, 0, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

.littleFadeInLeft {
  animation-name: littleFadeInLeft;
}

@keyframes littleFadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(20px, 0, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

.littleFadeInRight {
  animation-name: littleFadeInRight;
}

@keyframes littleFadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 20px, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

.littleFadeInUp {
  animation-name: littleFadeInUp;
}

@keyframes littleFadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -20px, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

.littleFadeInDown {
  animation-name: littleFadeInDown;
}

@keyframes ripple {
  100% {opacity: 0; transform: scale(2.5);}
}

.ripple {
  animation-name: ripple;
}

@keyframes fadeOutText {
	0% { color: transparent; }
	80% { color: transparent; }
	100% { color: #fff; }
}

@keyframes moveToRight {
	80% { transform: translateX(350%); }
	81% { opacity: 1; transform: translateX(350%); }
	82% { opacity: 0; transform: translateX(350%); }
	83% { opacity: 0; transform: translateX(-50%); }
	84% { opacity: 1; transform: translateX(-50%);  }
	100% { transform: translateX(0%); }
}

@keyframes scaleUp {
	80% {
		opacity: 0;
		transform: scale(2);
	}
	100% {
		opacity: 0;
		transform: scale(2);
	}
}

@keyframes fillToRight {
	to {
		width: 100%;
	}
}

@keyframes emptyBottom {
	to {
		height: 100%;
	}
}

@keyframes scaleFade {
	50% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(2.5);
	}
}

@keyframes dropDown {
	to {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes dropDownFade {
	50% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(1.5);
	}
}

@keyframes moveUp {
	0% {
		transform: translateY(50%);
		opacity: 0;
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes scaleFromUp {
	0% {
		transform: scale(0);
		opacity: 0;
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes spinAround {
	from {
		transform: rotate(0deg)
	}
	to {
		transform: rotate(360deg);
	}
}

@keyframes toRightFromLeft {
	49% {
		transform: translate(100%);
	}
	50% {
		opacity: 0;
		transform: translate(-100%);
	}
	51% {
		opacity: 1;
	}
}

@keyframes toLeftFromRight {
	49% {
		transform: translate(-100%);
	}
	50% {
		opacity: 0;
		transform: translate(100%);
	}
	51% {
		opacity: 1;
	}
}

@keyframes toTopFromBottom {
	49% {
		transform: translateY(-100%);
	}
	50% {
		opacity: 0;
		transform: translateY(100%);
	}
	51% {
		opacity: 1;
	}
}

@keyframes toBottomFromTop {
	49% {
		transform: translateY(100%);
	}
	50% {
		opacity: 0;
		transform: translateY(-100%);
	}
	51% {
		opacity: 1;
	}
}

@keyframes sonarEffect {
	0% {
		opacity: 0.1;
	}
	40% {
		opacity: 0.2;
		box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 5px 5px, 0 0 0 5px rgba(255,255,255,0.5);
	}
	100% {
		box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 5px 5px, 0 0 0 5px rgba(255,255,255,0.5);
		transform: scale(1.5);
		opacity: 0;
	}
}

@keyframes slit {
	50% { transform: translateZ(-250px) rotateY(89deg); opacity: 1; animation-timing-function: ease-in;}
	100% { transform: translateZ(0) rotateY(0deg); opacity: 1; }
}
